@charset "utf-8";
/*전체 선택자 연습 예제*/
* {
    border: 1px solid gray;
}
/*그툽 선택자  연습 예제*/
h1, h2, h3{
    border: 2px solid pink;
}
/*순서 선택자  연습 예제*/
/* ul li:nth-of-type(1){
    border: 2px solid pink;
}
ul li:nth-of-type(2){
    border: 2px solid skyblue;
}
ul li:nth-of-type(3){
    border: 2px solid greenyellow;
}
ul li:nth-of-type(4){
    border: 2px solid violet;
} */

/*수열 선택자  연습 예제*/
/* ul li:nth-of-type(2n){
    border: 2px solid blue;
} */

/*마지막 요소 선택자  연습 예제*/
/* ul li:last-child{
    border: 2px solid green;
} */

/*홀수, 짝수 선택자  연습 예제*/
ul li:nth-last-child(odd){
    border: 2px solid pink;
}
ul li:nth-last-child(even){
    border: 2px solid skyblue;
}

/*속성 선택자  연습 예제*/
input[type="text"]{
    border: 2px solid green;
}
input[type="password"]{
    border: 2px solid red;
}

/*가상 선택자  연습 예제*/
h1:hover{
    border: 2px solid skyblue;
}
h1:before{
    content: "before content";
    color: blue 
}
h1:after{
    content: "before content";
    color: red 
}

/*클래스 선택자  연습 예제*/
p.akmu{
    border: 2px solid blueviolet;
}
.svt{
    border: 2px solid brown;
}

/*아이디 선택자  연습 예제*/
#akmu_text{
    border: 2px solid orange;
}
#svt_text{
    border: 2px solid hotpink;
}

/*폰트 굵기 바꾸기*/
h1 {
    font-weight: normal;
}
p span{
    font-weight: bold;
}

/*폰트 크기 바꾸기*/
/* article h1{
    font-size: 60px;
}
article a{
    font-size: 30px;
}
article p{
    font-size: 20px;
} */

/*폰트 크기 바꾸기(rem단위 사용)*/
/* html{
    font-size: 16px;
}
article h1{
    font-size: 3rem;
}
article a{
    font-size: 1rem;
}
article p{
    font-size: 0.8rem;
} */

/*폰트 크기 바꾸기(em단위 사용)*/
html{
    font-size: 16px;
}
article{
    font-size: 40px;
}
article h1{
    font-size: 3em;
}
article a{
    font-size: 1em;
}
article p{
    font-size: 0.8em;
}

/*폰트 모양 바꾸기*/
ul li {
    font-size: 40px;
}
ul li:nth-of-type(1) {
    font-family: "돋움";
}
ul li:nth-of-type(2) {
    font-family: "돋움";
}
ul li:nth-of-type(3) {
    font-family: serif;
}
ul li:nth-of-type(4) {
    font-family: arial;
}

/*폰트 색상 바꾸기*/
li:nth-of-type(1){
    color: red;
}
li:nth-of-type(2){
    color: #ff0000;
}
li:nth-of-type(3){
    color: rgb(255, 0, 0);
}

/*텍스트 줄 간격 바꾸기*/
.akmu {
    font-size: 20px;
    line-height: 40px;
    border: 1px solid red;
}
.svt {
    font-size: 20px;
    line-height: 40px;
    border: 1px solid red;
}

/**/