@charset "utf-8";
/*전체 선택자 연습 예제*/
* {
    border: 1px solid gray;
}
/*태그 선택자 연습 예제*/
h1 {
    border: 2px solid pink;
}
h2 {
    border: 2px solid skyblue;
}
h3 {
    border: 2px solid navy;
}
/*자식 선택자 연습 예제*/
p strong{
    border: 2px solid green;
}
/*자식 선택자 연습 예제(자식만)*/
div > ul{
    border: 2px solid royalblue;
}
